.item-list-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    padding: 10px 0;
}

.titulo {
    text-align: left; 
    font-family: Verdana, Geneva, Tahoma, sans-serif Black; 
    font-weight: bold; 
    font-size: 40px; 
    color: black; 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    }
