.col-lg-6 img {
    width: 100%;
    height: auto;
    margin-top: 110px;
   
}
.col-lg-6 img:hover {
    width: 100%;
    height: auto;
    margin-top: 110px;
    filter: saturate(180%);
}


.contenido h5 {
    width: 420px;
    font-weight:bolder;
    margin-top: 100px!important;
    
    text-align-last: center!important;
}
.contenido p {
    width: 420px;
    text-align:left
}
.container {
    height: 500px;
}