.tarjeta-producto{
    width: 16rem;
    height: auto;
    margin: 5px; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 7px 13px 37px #000; */
    
}
.tarjeta-producto h4, p{
    margin: 0.5px;
    color: black;
}
.tarjeta-producto img{
    width: 14rem;
    height: auto;
}
.tarjeta-producto img:hover{
    width: 14rem;
    height: auto;
    filter: saturate(180%);
}

.btn-dark {
    color: white;
}
.btn-dark:hover {
    
    -webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
    color: white;
}