@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', 
}
.nav-container{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2b2b2b;
    
}
.nav-brand{
    width: 100%;
    height: 170px;
    padding-left: 100px;

}
.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: auto;
    margin-top: 0px;
}
.navegacion a{
    margin: 10px;
    color: #86868b;
    text-decoration: none;
}
.navegacion a:hover{
    margin: 10px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.iconNabvar {
    width: 100%;
    height: 1.5rem;
}

.titulo h2 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-decoration: none!important;
    font-size: 32px;
    padding-left: 25px;
}