.estilosContador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    color: black;
    margin: 10px auto;
    padding: 10px;
}

.contenedorControles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
    width: 40%;
    height: 30px;
}



.botonAgregar {
    padding: 5px;
    border-radius: 5px;
    /* background: #101c2b; */
    color: white;
    margin: 10px 0;
    background-color: black;
}

.botonAgregar:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
        color: white;
}

